@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #33b96b;
    --cor2: #188846;
    --cor3: rgb(1, 99, 1);
    --cor4: #DB6A62;
    --cor5: #8F0B01;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', serif;
    --font-android: 'Android', serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

header{
    background-image: linear-gradient(to bottom,var(--cor1), var(--cor3));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1{
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 15px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
    font-weight: normal;   
}

header > p{
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
    font-weight: normal;
}

nav{
    background-color: var(--cor3);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.356);
}

nav > a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor5)
}

main{
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

main  h1{
    color: var(--cor5);
    font-family: var(--font-android);
}

main  h2{
    color: var(--cor5);
    font-family: var(--font-android);
    background-image: linear-gradient(to right, var(--cor4), transparent);
    text-indent: 8px;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position:absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%; 
}

main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

main strong{
    color: var(--cor5); 
}

main a{
    color: var(--cor4);
    text-decoration: none;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor5);
}

aside {
    background-color: var(--cor0);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.288);
}

aside > h3{
    text-align: center;
    color: white;
    background-color: var(--cor2);
    padding: 10px;
    margin: -10px;
}

aside ul{
    list-style-position: inside;
    margin-left: 5px;
    columns: 2;
    color: var(--cor5);
    font-weight: bold;
    line-height: 1.4em;
}

aside > p{
    padding: 0px 5px 0px 5px;
}

abbr{
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
}

footer{
    background-color: var(--cor3);
    color: white;
    text-align: center;
    padding: 5px;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1)   
}